// vertical rhythm
$base-font-size: 18px
$base-line-height: 27px
+establish-baseline

html
  // +debug-vertical-alignment

// modular scale
$ms-base: $base-font-size

body
  font-family: Didot, serif
  text-rendering: optimizeLegibility

article
  +margin-trailer(3)

h1
  +adjust-font-size-to(ms(2))
  +margin-trailer(1, ms(2))
  font:
    weight: bold
    style: italic

p
  +margin-trailer