@font-face
  font-family: Linden Hill
  src: url('../fonts/LindenHill.eot?') format('eot'), url('../fonts/LindenHill.woff') format('woff'), url('../fonts/LindenHill.ttf') format('truetype')

@font-face
  font-family: Source Sans Pro
  src: url('../fonts/sourcesanspro-regular.eot?') format('eot'), url('../fonts/sourcesanspro-regular.woff') format('woff'), url('../fonts/sourcesanspro-regular.ttf') format('truetype')
  font:
    weight: normal
    style: normal

@font-face
  font-family: Source Sans Pro
  src: url('../fonts/sourcesanspro-italic.eot?') format('eot'), url('../fonts/sourcesanspro-italic.woff') format('woff'), url('../fonts/sourcesanspro-italic.ttf') format('truetype')
  font:
    weight: normal
    style: italic

body
  max-width: 35em
  margin: 0 auto

  font:
    size: 18px
    family: Source Sans Pro, sans-serif
  line-height: 1.5em

h1
  font:
    family: Linden Hill, serif
    weight: normal

  a
    text-decoration: none
    color: inherit
